/* Initialize the style for the whole page */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Plus Jakarta Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9b9996;
  background-color: #0f0f0f;
}

a {
  text-decoration: none;
  color: #9b9996;
}

li {
  list-style-type: none;
}
